# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with go test -c
*.test

# Output of the go coverage tool
*.out

# Dependency directories
vendor/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo
*.pem

# OS specific files
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build
bin/
tmp/

.env key.json
.env